@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,400;0,800;1,400&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import url('./components/hero.css');
@import url('./components/reset.css');
@import url('./components/card.css');
@import url('./components/footer.css');

body {
  font-family: 'Karla', sans-serif;
}

h2 {
  font-size: 32px;
  font-weight: 800;
  margin-top: 30px;
  text-align: center;
}
