.card {
  background-color: #fff;
  box-shadow: 2px 2px 4px gray;
  width: 300px;
  height: 320px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.cards-container {
  width: 90%;
  margin: 80px auto;
  display: flex;
  justify-content: space-around;
}

.card-image {
  width: 50%;
  margin: 0 auto;
}

.card-title {
  font-size: 18px;
  font-weight: 800;
}
