footer {
  background-color: #2c2b2b;
  width: 100%;
  height: 250px;
  text-align: center;
}

.list-item {
  display: inline-block;
  font-size: 56px;
  color: #1edd87;
  margin: 42px 12px;
}

.footer-para {
  font-size: 21px;
  font-weight: bold;
}
