.banner {
  width: 100%;
  height: 600px;

  background-image: linear-gradient(rgba(10,10,10,0.5), rgba(10,10,10,0.5)), url('https://images.unsplash.com/photo-1515879218367-8466d910aaa4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1169&q=80');
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.banner-title {
  color: #fff;
  font-size: 2.5em;
  font-weight: 800;
  margin-bottom: 12px;
  text-shadow: 2px 2px 4px rgb(20, 20, 20);
}

.banner-para {
  color: rgb(200, 200, 200);
  font-size: 1.2em;
  margin-bottom: 64px;
  text-shadow: 2px 2px 4px rgb(20, 20, 20);
}

.banner-link {
  padding: 16px 16px;
  font-size: 28px;
  background-color: #8ad17b;
  border-radius: 10px;
  text-decoration: none;
  font-weight: 800;
  color: #fff;
}

.banner-text {
  margin-right: 80px;
}
